body {
    text-align: center;
    background-color: rgb(246, 252, 252);
}
nav{
    position: absolute ;
    top: 15px;
    right: 20px
}
nav a{
     text-decoration: none;
     font-size: 20px;
     padding-left: 20px;
     text-transform: uppercase;
     color:rgb(10, 1, 1)
}
nav a:hover{
     font-weight: bold;
     font-size: 20px;
     color:rgb(191, 60, 191)
}
.capa{

    width:100%
}
.beneficios{
    text-align: left;
    background-color: rgb(81, 81, 204);
    display: inline-block;
}
ul{
    display: inline-block;
    vertical-align: top;
    font-size: 26px;
    margin-right: 330px;
}
li{
    padding: 25px;
}
.foto-beneficio{
    width: 40%;
}
.logo{
    width: 15%;
    border-radius: 25px;
}
h3{
    text-align: left;
   
}