body {
    text-align: center;
    background-color: rgb(246, 252, 252);
}
nav{
    position: absolute ;
    top: 15px;
    right: 20px
}
nav a{
     text-decoration: none;
     font-size: 20px;
     padding-left: 20px;
     text-transform: uppercase;
     color:rgb(10, 1, 1)
}
nav a:hover{
     font-weight: bold;
     font-size: 20px;
     color:rgb(20, 8, 20)
}
.logo{
    width: 15%;
    border-radius: 25px;
}
h3{
    text-align: left;
   
}
.imagem-produto{
    width: 60% ;
}